* {
    background-color: #99C4C8;
}

.divider {
    background-image: linear-gradient(to right, #14c38fb1,#14c38f11);
    width: 100%;
}

.height-20 {
    height: 20px;
}

.header-margin{
    margin-bottom: 0;
}
